AUTH_SERVICE_URL=http://auth:3001
VEHICLES_SERVICE_URL=http://vehicles:3002
TRAFFIC_SERVICE_URL=http://traffic:3003
INCIDENTS_SERVICE_URL=http://incidents:3004
NOTIFICATIONS_SERVICE_URL=http://notifications:3005
JWT_SECRET=secret
PORT=3000

